@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (User.Identity.IsAuthenticated)
{
    <h3>GENIUS GOOOD JOB </h3>
}
<h4></h4>


