@model SocialNetwork.WEB.ViewModels.UserLoginViewModel;
@{
    ViewData["Title"] = "Login";
}
<h2>@ViewData["Title"]</h2>
<hr>

<form method="post" asp-controller="Account" asp-action="Login">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="youremail@email.com" autocomplete="off">
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "validation" })
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" asp-for="Password" placeholder="********">
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "validation" })
    </div>
    <div class="d-flex justify-content-end">
        <button class="btn btn-primary" id="submitFormBtn">Login in</button>
    </div>
</form>

@section Styles {
    <style>
        .validation {
            color: red;
        }
    </style>
}